/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {display: block; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease; background-repeat:no-repeat;}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1; filter: alpha(opacity=100);}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; filter: alpha(opacity=70); cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1; filter: alpha(opacity=100);}
.flex-control-thumbs .flex-active {opacity: 1; filter: alpha(opacity=100); cursor: default;}

.home-slider {
	box-shadow:none;
	border-radius:0;
	border:none;
	margin:35px 0;
}
.home-slider > li {
	margin: 0;
}

.home-slider .flex-control-nav,
.entry-thumb-slider .flex-control-nav,
.gallery-slider .flex-control-nav,
.kopa-single-slider .flex-control-nav {
	display:none;
}
.home-slider .flex-direction-nav {
	position: absolute;
	right: 0;
	top: -69px;
}
.home-slider .flex-direction-nav li {
	list-style:none;
	margin:0 0 0 5px;
	display: block;
	float: left;
}
.home-slider .flex-direction-nav a {
	width:24px;
	height:24px;
	background-color:#151515;
	border:2px solid #3c3c3c;
	margin: 0;
	background-position:center center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: relative;
	z-index: 0;
}

.home-slider .flex-direction-nav .flex-prev {
	background-image:url(../images/slider/flex-prev.png);
	background-position: 8px center;
}
.home-slider .flex-direction-nav .flex-next {
	background-image:url(../images/slider/flex-next.png);
	background-position: 10px center;	
}

.home-slider .entry-item .entry-thumb {
	width: 386px;
	float: left;
	margin-right: 20px;
	position: relative;
}
.home-slider .entry-item .entry-thumb img {
	display: block;
	width: 100%;
}
.home-slider .entry-item .entry-thumb a {
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border:2px solid #fff;
	background-color: rgba(0,0,0,.37);
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	font-size: 18px;
	position: absolute;
	z-index: 0;
	bottom: 15px;
	right: 15px;
}
.home-slider .entry-item .entry-thumb a:hover {
	color: #394c81;
	border:2px solid #394c81;
}

.home-slider .entry-item .entry-content {
	float: left;
	width: 389px;
}
.home-slider .entry-item .entry-content header {
	margin-bottom: 20px;
}
.home-slider .entry-item .entry-content header .entry-categories {
	font-family: 'Open Sans', sans-serif;
	color: #b7b7b7;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
}
.home-slider .entry-item .entry-content header .entry-categories a {
	color: #b7b7b7;
}
.home-slider .entry-item .entry-content header .entry-categories span {
	color: #394c81;
	margin-right: 10px;
}

.home-slider .entry-item .entry-content header .entry-title {
	margin: 0 0 15px;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
.home-slider .entry-item .entry-content header .entry-title a {
	color:#fff;
	float: left;
	width: 342px;
}
.home-slider .entry-item .entry-content header .entry-title span {
	display: block;
	background-color: #394c81;
	color: #fff;
	padding: 3px 7px 2px;
	margin-right: 15px;
	float: left;
	margin-top: 5px;
}
.home-slider .entry-item .entry-content header .meta-box {
	float: left;
}
.entry-date {
	text-transform: uppercase;
	font-weight: 600;
}
.home-slider .entry-item .entry-content header .entry-date,
.home-slider .entry-item .entry-content header .entry-comments,
.home-slider .entry-item .entry-content header .entry-view {
	margin-right: 15px;
}
.entry-comments span,
.entry-view span {
	margin-right: 10px;
}
.entry-view span {
	font-size:14px;
}
.entry-comments,
.entry-comments a,
.entry-view {
	color: #394c81;
	font-size:12px;
	font-weight: 600;
}
.home-slider .entry-item .entry-content header .entry-comments a:hover {
	color: #fff;
}

.home-slider .kopa-rating {
	float: left;
}
.kopa-rating li {
	list-style: none;
	float: left;
	margin:0 0 0 2px;
}
.kopa-rating li a {
	color: #fbcf0a;
}

.home-slider .entry-item .entry-content p {
	color: #fff;
}

.kp-single-slider,
.kp-single-carousel {
	box-shadow:none;
	border-radius:0;
	border:none;
	margin:0;
}
.kp-single-slider .slides > li {
	margin: 0;
}
.kp-single-slider .flex-direction-nav li {
	list-style:none;
	margin:0;
}
.kp-single-slider .flex-direction-nav a {
	width:46px;
	height:46px;
	background-color:rgba(0,0,0,.73);
	border:2px solid rgba(255,255,255,.44);
	margin: 0;
	background-position:center center;
	position: absolute;
	top: 50%;
	margin: -25px 0 0;
}

.kp-single-slider .flex-direction-nav .flex-prev {
	background-image:url(../images/slider/big-flex-prev.png);
	background-position: center center;
	left: 0;
}
.kp-single-slider .flex-direction-nav .flex-next {
	background-image:url(../images/slider/big-flex-next.png);
	background-position: center center;
	right: 0;
}

.kp-single-carousel {
	width: 490px;
	display: inline-block;
}
.kp-single-carousel li {margin:25px 0 0 20px; list-style:none;}
.kp-single-carousel li:first-child {margin-left: 0px;}
.kp-single-carousel img {display: block; opacity: .5; cursor: pointer; filter: alpha(opacity=50);}
.kp-single-carousel img:hover {opacity: 1; filter: alpha(opacity=100);}
.kp-single-carousel .flex-active-slide img {opacity: 1; cursor: default; filter: alpha(opacity=100);}

.entry-box .entry-thumb {
	text-align: center;
	margin-bottom: 20px;
}
.kopa-single-gallery .entry-box .entry-thumb {
	margin-bottom: 0px;
}

.kp-single-carousel .flex-direction-nav a {
	width:19px;
	height:28px;
	margin:-14px 0 0;
	position: absolute;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}
.kp-single-carousel .flex-direction-nav .flex-prev {
	background-image:url(../images/slider/flex-carousel-prev.png);
	left:-45px;
}
.kp-single-carousel .flex-direction-nav .flex-next {
	background-image:url(../images/slider/flex-carousel-next.png);
	right:-45px;
}
.loading {
    min-height: 250px;
}